@font-face {
    font-family: 'Bahnschrift';
    src: url('bahnschrift.ttf') format('ttf');
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("assets/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(14, 14, 14);
    font-family: Bahnschrift;
    font-weight: normal;
    font-style: normal;
    color: white;
}

h1 {
    color: rgb(255, 187, 0);
    text-shadow: 3px 3px 2px #020202;
}

a {
    color: red;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.1s linear;
}

a:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
}

.shadow {
    padding: 1px 15px 1px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #030303;
}

.shadowButton {
    padding: 1px 15px 1px 15px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    transform: scale(1);
}

.shadowButton:hover {
    outline: 2px solid white;
    transition: all 0.2s;
    position: relative;
    transform: scale(1.01);
    box-shadow: 0px 0px 13px white;
}

.wrapper {
    height: 100%;
    display: table;
    width: 100%;
}

.left {
    display: table-cell;
    width: 30%;
}

.right {
    display: table-cell;
    width: 30%;
}

@media only screen and (max-width: 1400px) {
    .left {
        display: table-cell;
        width: 15%;
    }

    .right {
        display: table-cell;
        width: 15%;
    }
}

@media only screen and (max-width: 800px) {
    .left {
        display: table-cell;
        width: 1%;
    }

    .right {
        display: table-cell;
        width: 1%;
    }
}

.center {
    height: 100%;
    display: table-cell;
    padding: 20px;
    background: rgb(75, 30, 3);
    background: linear-gradient(238deg, rgb(37, 15, 1) 0%, rgb(17, 1, 13) 100%);
    border-radius: 30px 30px 0px 0px;
}

#mlaim_bg {
    background-image: linear-gradient(to right, rgb(90, 11, 0), rgba(255, 38, 0, 0.123)), url("assets/mlaim.png");
}

#tracking_bg {
    background-image: linear-gradient(to right, rgb(52, 94, 92), rgba(23, 38, 72, 0.534)), url("assets/persontracking.png");
}

#valo_bg {
    background-image: linear-gradient(to right, #2b4f28, #244820ab), url("assets/checker.png");
}

#colorclimb_bg {
    background-image: linear-gradient(to right, #121212, #22222249), url("assets/colorclimb.png");
}

#scholarlight_bg {
    background-image: linear-gradient(to right, #414141, #2c2c2c49), url("assets/scholarlight.png");
}

#yt_bg {
    background-image: linear-gradient(to right, #2d2339, #1b112949), url("assets/yt.png");
}

#itch_bg {
    background-image: linear-gradient(to right, #2d2339, #1b112949), url("assets/itch.png");
}

.text-gradient {
    background: linear-gradient(90deg, rgba(179, 71, 71, 1) 0%, rgba(125, 179, 71, 1) 25%, rgba(71, 179, 179, 1) 50%, rgba(126, 71, 177, 1) 75%, rgba(179, 71, 71, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 200%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}